<head>{{.Link}}</head>
{{.NavBar}}
<body id="area">
    <div class="text-center">
        <h1 class=>{{.Title}}</h1class>
        <h3>That’s no moon…it’s a Portfolio.</h3>
        
        <p>Further more its always being added to! 
            In use so far:</p>
            <ul>
                <li class ="no-disc" ><h4>Languages</h4></li>
                <li>
                    GO
                </li>
                <br>
                <li class ="no-disc"><h4>Sheet Languages</h4></li>
                <li>
                    CSS
                </li>
                <br>
            </ul>

        <p>Along with <strong>HTML</strong> in order to show my competency in the front end developmental basics.</p>
        <p>The sites backend has been contructed using GO and will be improved over time.</p>
        <p> site will be a simple application with <strong>no</strong> planned database connections.</p>
    </div>
</body>