<head>
    {{.Link}}
</head>
{{.NavBar}}
<body>
    <h1 >{{.Title}}</h1> 
    <p>my name is thomas hatton i am a junior developer, you have reached my portfolio.</p>
    <p>the portfolio is currently under construction, however will encompass: 
        <ul style="list-style-type:disc;">
            <li>
                Javascript 
            </li>
            <li>
                CSS
            </li>
        </ul>

        along with <strong>HTML</strong> in order to show my competantcy in the front end developmental basics.

        The sites backend will be contructed using GO and will be improved over time. The site will be a simple application\n with <strong>no</strong> planned database connections.
</p>
</body>


